.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

.newsletter {
  color: grey;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
  position:relative;
}

.newsletter button {
  background: #3cb878;
  border: none;
  color: white;
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.newsletter input#email {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 3px;
  border: solid #cfcfcf 1px;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
}

.newsletter #terms {
  position: relative;
  top: 1px;
  margin-top: 10px;
 
}

.newsletter #closex {
  position: absolute;
  top: 0;
  right: 4px;
}

#questionmark {
  background: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: 70px;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#CardHolder {
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
}

.card {
  background-color: #3cb878;
  width: 180px;
  text-align: center;
  color: white;
  padding: 20px 0;
  box-shadow: 0px 0px 7px 2px grey;
}

.card h3 {
  margin-bottom: 0;
}